<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QLSachEntities" connectionString="metadata=res://*/QLThuVien.csdl|res://*/QLThuVien.ssdl|res://*/QLThuVien.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-GLQJCBC\SQLEXPRESS;Initial Catalog=QLSach;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="QLThuVienEntities" connectionString="metadata=res://*/QLThuVien.csdl|res://*/QLThuVien.ssdl|res://*/QLThuVien.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GLQJCBC\SQLEXPRESS;initial catalog=QLSach;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLThuVienEntities1" connectionString="metadata=res://*/QLThuVien.csdl|res://*/QLThuVien.ssdl|res://*/QLThuVien.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QUANG;initial catalog=QLThuVien;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>